:root {
  --padding-small: 10px;
  --padding-large: 20px;
  --header-height: 70px;
  --sidenav-width: 300px;
  --color-outline: #1679AB;
}

/* Global CSS resets */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/* Global classes */
.container-center {
  display: flex;
  flex-direction: column;
  justify-content: safe center;
  /* Not specifying "safe" causes upload form to be cut off at the top */
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: auto;
}

.background-default {
  background: linear-gradient(to right, #74ebd5, #ACB6E5);
}
